apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: reddit-bot-data
  namespace: bots
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
  storageClassName: local-path
